In [1]:
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

Use the index() method on countries to find the index of 'germany'. Store this index as ind_ger. Use ind_ger to access the capital of Germany from the capitals list. Print it out.

In [5]:
ind_ger=countries.index('germany')
print(capitals[ind_ger])

berlin

Creating a dictionary Dist from two list keys and values and printing the data type of Dist


 #creating keys and values
keys = ['name', 'age', 'food']

values = ['Monty', 42, 'hotdog']

In [8]:
 #creating a dictionary - Dist
Dist={'name':'Monty', 'age':42,'food':' hotdog'}
print(Dist)

{'name': 'Monty', 'age': 42, 'food': ' hotdog'}

Using	countries	and	capitals	lists,	create	a	dictionary	called	europe	with	4	key:value
pairs.
Print out europe to see if the result is what you expected

In [9]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']
# From string in countries and capitals, create dictionary Europe
europe = { 'spain':'madrid', 'france':'paris','germany':'berlin', 'norway':'oslo'} # Print Europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

ACCESSING A **DICTIONARY**

Get name from the Dict dictionary
#using a dictionary
Dict={'name': 'Monty', 'age': 42, 'food': ‘hotdog'}

In [12]:
Dict={'name': 'Monty', 'age': 42, 'food': 'hotdog'}

In [13]:
print(Dict['name'])

Monty

Check out which keys are in europe by calling the keys() method on europe. Print out the result.

In [15]:
europe = { 'spain':'madrid', 'france':'paris','germany':'berlin', 'norway':'oslo' } # Print Europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

In [16]:
#print out keys of europe dictionary
print(europe.keys())

dict_keys(['spain', 'france', 'germany', 'norway'])

Print out the value that belongs to the key 'norway‘ from your dictionary.

DICTIONARY MANIPULATION - ADDITION

In [19]:
Dist={'name':'Monty', 'age':42,'food':' hotdog'}

In [22]:
Dist['height']=61
print(Dist)

{'name': 'Monty', 'age': 42, 'food': ' hotdog', 'height': 61}

Add the key 'italy' with the value 'rome' to europe and print out europe.

Add these two key:value pairs to europe: 'poland‘ 'warsaw & 'iceland' 'reykjavik’. Print out europe.

In [24]:
europe = { 'spain':'madrid', 'france':'paris','germany':'berlin', 'norway':'oslo', 'italy':'rome' }
# Print Europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome'}

In [25]:
#Adding new keys to europe.
europe['iceland']= 'reykjavik'
europe['poland']= 'warsaw'
# Print Europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'iceland': 'reykjavik', 'poland': 'warsaw'}

You updated the capital of Germany to 'bonn'; it was 'berlin'. Update its value..

In [26]:
europe['germany']='berlin'
#print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'iceland': 'reykjavik', 'poland': 'warsaw'}

DICTIONARY MANIPULATION - DELETION

Delete the Key Australia and add Austria with the Capital Vienna ?
You	updated	the	capital	of	Germany	to	'bonn';	it	was	'berlin'.	Update	its value..

In [27]:
del(Dist['height'])
print(Dist)

{'name': 'Monty', 'age': 42, 'food': ' hotdog'}

Australia is not in Europe,	Austria is! Remove the key 'australia' from europe. Print out europe to see if your cleaning work paid off.

In [29]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn', 'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'australia':'vienna' }
#print europe
print(europe)
#remove 'Australia' form Europe

{'spain': 'madrid', 'france': 'paris', 'germany': 'bonn', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw', 'australia': 'vienna'}

In [30]:
del(europe['australia'])
#print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'bonn', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

NESTED DICTIONARY

In [31]:
pep1={'name': 'John', 'age': '27', 'sex': 'Male'}
pep2={'name': 'Marie', 'age': '22', 'sex': 'Female'} #creating a dictionary of people using pep1 &pep2

In [32]:
people = {'pep1': {'name': 'John', 'age': '27', 'sex': 'Male'},
          'pep2': {'name': 'Marie', 'age': '22', 'sex': 'Female'}}
#print people
print(people)

{'pep1': {'name': 'John', 'age': '27', 'sex': 'Male'}, 'pep2': {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

Create a dictionary of dictionaries europe using the dictionaries of individual countries.


Use the following data for this task:

spain={ 'capital':'madrid', 'population':46.77 }

france= { 'capital':'paris', 'population':66.03 }


 germany= { 'capital':'berlin', 'population':80.62 }

 norway ={ 'capital':'oslo', 'population':5.084 }

In [33]:
#creating countries dictionaries
spain={ 'capital':'madrid', 'population':46.77 }
france= { 'capital':'paris', 'population':66.03 }
germany= { 'capital':'berlin', 'population':80.62 }
norway ={ 'capital':'oslo', 'population':5.084 }

In [34]:
#creating europe a nested dictionary
europe = {
'spain': { 'capital':'madrid', 'population':46.77 },
'france': { 'capital':'paris', 'population':66.03 },
'germany': { 'capital':'berlin', 'population':80.62 },
'norway': { 'capital':'oslo', 'population':5.084 } }

#print out europe
print(europe)

{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}}

Get John from the Nested dictionary
#using a dictionary
people = {'pep1': {'name': 'John', 'age': '27', 'sex': 'Male'},
'pep2': {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

In [35]:
#print out name
print(people['pep1']['name'])

John

Use your nested dictionary europe to fetch the population for Spain.


Print out the capital of France.

In [36]:
print(europe['france']['capital'])

paris

Create a dictionary, named data, with the keys 'capital' and 'population'. Set them to
'rome' and 59.83, respectively.
Add a new key-value pair to europe; the key is 'italy' and the value is data, print the dictionary you just built.

**Pandas and Dictionaries**
Creating a pandas dataframe by using of employee data

In [37]:
 # Import pandas package
import pandas as pd
# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
'Age':[27, 24, 22, 32],
'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

 # Convert the dictionary into DataFrame

In [38]:
df = pd.DataFrame(data)
print(df)

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

names, containing the country names for which data is available.
dr, a list with booleans that tells whether people drive left or right in the corresponding country. cpc, the number of motor vehicles per 1000 people in the corresponding country.

# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr = [True, False, False, False, True, True, True]

cpc = [809, 731, 588, 18, 200, 70, 45]

Each dictionary key is a column label and each value is a list which contains the column elements

**Task**

Use the pre-defined lists to create a dictionary called my_dict. There should be three key value pairs: key 'country' and value names.
key 'drives_right' and value dr.
key 'cars_per_cap' and value cpc

In [39]:
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =	[True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
# Import pandas as pd import pandas as pd

In [40]:
# Create dictionary my_dict with three key:value pairs: my_dict
my_dict={'country':names,
'drives_right':dr, 'cars_per_cap':cpc}

Convert	your	dictionary	my_dict	into	a	DataFrame	called	cars	and	print	out cars.

In [41]:
cars=pd.DataFrame(my_dict)
# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

Notice that the row labels (i.e. the labels for the different observations) were automatically set to integers from 0 up to 6?

Notice that the row labels (i.e. the labels for the different observations) were automatically set to integers from 0 up to 6?

In [43]:
#Add row_labels in pandas DataFrame

# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
'Age':[27, 24, 22, 32],
'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
'Qualification':['Msc', 'MA', 'MCA', 'Phd']} # Convert the dictionary into DataFrame

In [45]:
df = pd.DataFrame(data)
row_labels = ['emp1', 'emp2', 'emp3', 'emp4'] # Specify row labels of cars
df.index=row_labels
print(df)

        Name  Age    Address Qualification
emp1     Jai   27      Delhi           Msc
emp2  Princi   24     Kanpur            MA
emp3  Gaurav   22  Allahabad           MCA
emp4    Anuj   32    Kannauj           Phd

The row labels on the previous task are not correctly set. Specify the row labels by setting cars.index equal to row_labels.Print out cars again and check if the row labels are correct this time.

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG'].